@model IEnumerable<ARHome.Models.Favorite>

@{
    ViewData["Title"] = "喜好項目網站首頁";
}

<style>

    /* 連結的樣式 */
    .card-link {
        text-decoration: none;
        color: inherit; /* 繼承父元素的顏色 */
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* <h1>元素的樣式 */
    .card-title {
        font-size: 24px; /* 調整字體大小 */
        margin: 0; /* 清除標題的預設邊距 */
        padding: 10px; /* 添加一些內間距 */
    }

    .card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 300px;
        overflow: hidden; /* 隱藏溢出的部分 */
    }

        .card-img img {
            width: 100%;
            height: auto;
            max-width: 100%; /* 設置最大寬度 */
        }

    .bar {
        display: flex;
        justify-content: space-between; /* 左右對齊 */
        align-items: center; /* 垂直居中對齊 */
        margin: 10px; /* 添加一些底部間距 */
    }

    h3 {
        margin: 0; /* 清除標題的預設邊距 */
    }

    .search {
        display: flex;
        align-items: center; /* 垂直居中對齊搜索框 */
    }

    /* 調整搜索框和按鈕之間的間距 */
    .search-bar {
        margin-right: 10px;
    }

</style>


<h3><span class="badge rounded-pill bg-info">喜好項目首頁</span></h3>
<br />


<div class="container">
    <div class="row">
        @if(Model==null){
            <p>還沒有喜歡的家具</p>
        }
        else{
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-4 col-6">
                    <a asp-controller="Furnitures" asp-action="Details" asp-route-id="@item.furnitureId" class="card-link">
                        <div class="card" style="margin-bottom:5px">
                            <div class="card-body d-flex flex-column">
                                <div class="card-img">
                                    <img src="http://172.20.10.5/test/Images/@item.picture" alt="@item.picture" />
                                </div>
                                <h1 class="card-title">@item.type</h1>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
        
    </div>
</div>

