@{
    ViewData["Title"] = "個人資料頁";
}

<div>
    @if (ViewBag.DisplayName != null)
    {
        <h1 class="display-4">嗨! @ViewBag.DisplayName, 歡迎您使用AR Home!</h1>
    }
    else
    {
        <h1 class="display-4">歡迎您使用AR Home!</h1>
    }

    @* <p>使用者的 token：@ViewBag.token</p> *@
    <div style="display: flex; align-items: baseline;">
        <p>暱稱：@ViewBag.DisplayName &nbsp;&nbsp;&nbsp;&nbsp;</p>
        <button type="button" class="btn btn-light text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            更改暱稱
        </button>
    </div>
    <br />
    <p>Email：@ViewBag.Email</p>
    <br />
    <button type="button" class="btn btn-light text-dark" data-bs-toggle="modal" data-bs-target="#changepwModel">
        更改密碼
    </button>
    <br />
    <br />
    <div>
        <div><a asp-action="LogOut" class="btn bg-secondary text-white">登出</a></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">更改暱稱</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 新增一個輸入框 -->
                <input type="text" class="form-control" id="newName" placeholder="請輸入新的暱稱">
            </div>
            <div class="modal-footer">
                <!-- 新增一個按鈕用於儲存變更 -->
                <button type="button" class="btn bg-secondary text-white" onclick="changeName()">儲存變更</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="changepwModel" tabindex="-1" aria-labelledby="changepwModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changepwModelLabel">更改密碼</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 新增一個輸入框 -->
                <input type="password" class="form-control" id="newPW" placeholder="請輸入新的密碼">
                <br />
                <input type="password" class="form-control" id="renewPW" placeholder="再輸入一次新的密碼">
                <span id="danger" style="color: red"></span>
            </div>
            <div class="modal-footer">
                <!-- 新增一個按鈕用於儲存變更 -->
                <button type="button" class="btn bg-secondary text-white" onclick="changePW()">儲存變更</button>
            </div>
        </div>
    </div>
</div>

<script>
    function changePW() {
        var pw = $('#newPW').val();
        var rePW = $('#renewPW').val();
        if (pw.length >= 6 && rePW.length >= 6) { // 檢查密碼長度是否大於等於6位數
            if (pw === rePW) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangePassword", "Home")',
                    data: { newPassword: pw },
                    success: function (response) {
                        if (response.success) {
                            alert("密碼變更成功，請再次登入!");
                            setTimeout(function () {
                                window.location.reload();
                            }, 500);
                        }
                        else {
                            alert(response.message); // 在用戶未登入時也顯示訊息
                        }
                    },
                    error: function () {
                        alert("請求失敗");
                    }
                });
            }
            else {
                $('#danger').text('兩個密碼不一致');
            }
        } else {
            $('#danger').text('密碼至少需要6位數');
        }
    }
    function changeName() {
        var newDN = $('#newName').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangeDisplayName", "Home")',
            data: { newDN: newDN },
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
                }
                else {
                    alert(response.message);  //在用戶未登入時也顯示訊息
                }
            },
            error: function () {
                alert("請求失敗");
            }
        });
    }
</script>