@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (ViewBag.DisplayName != null)
    {
        <h1 class="display-4">Hi @ViewBag.DisplayName, Welcome! You have successfully signed in.</h1>
    }
    else
    {
        <h1 class="display-4">Welcome! You have successfully signed in.</h1>
    }

    <p>使用者的 token：@ViewBag.token</p>
    <p>使用者的 DisplayName：@ViewBag.DisplayName</p>
    <p>使用者的 Email：@ViewBag.Email</p>
    <a asp-action="LogOut">Sign Out</a>
</div>
